@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1;
}

.text--purple:hover {
    color: #5d3eff;
    transition: all 500ms ease;
}

/* for every 2nd section - grey background */
section:nth-child(even) {
    background-color: #f8f8f8;
}

.container {
    padding: 50px 0;
}

.section__title {
    margin-bottom: 20px;
}

/*NAVIGATION BAR*/

li {
    list-style-type: none;
}

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
    margin-right: 24px;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

img {
    max-width: 280px;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;

}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

/*about me*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    max-width: 600px;
    margin: 0 auto;


}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;

    /* improving image */
    transform: scale(1.5);
    padding-top: 4px;

}

.about-me__info--para {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 28px;
}

.about-me__info--title {
    margin-bottom: 16px;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 36px;
}

.about-me__img {
    width: 100%;
    max-width: 600px;
}

/*tech stack */

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;

}

.language--img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

 .language:hover .language--img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
    
}

.language__img--wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

.language_list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 500ms ease;
    font-size: 20px;
    opacity: 0;

}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

/* projects */

.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 36px;
}

.project__img {
    width: 100%;
    max-width: 600px;
    transition: all 500ms ease;
    
}

.project__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition:  opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.05);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 500ms ease;
}

.project__description--title,
.project__description__sub-title,
.project__description--para,
.project__description--link {

    text-align: left;
    color: #fff;
}

.project__description--title {
    font-size: 40px;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
   font-size: 20px;
   margin-right: 16px;
   text-decoration: none; 
}

/*footer*/

footer {
    background-color: #242424;
}

.footer__row {
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo--img {
width: 150px;
height: 150px;
}

.footer__social--link,
.footer__copyright {
    color: #fff;
}

.footer__logo {
    margin-bottom: 0px;
}

.footer__social--list {
    margin-bottom: 28px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__logo--popper {
    color: #fff;
    position: absolute;
    right: 0;
    left: 15px;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 500ms ease;

}

.footer__anchor  {
position: relative;
margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
transform: translateX(60px);
opacity: 1;
}

